@import "../../styles/variables";

.headerContainer {
    width: 100%;
    position: fixed;
    left: 0;
    color: $text;
    z-index: 1;
    background: linear-gradient(
        0deg,
        transparent,
        #32373b,
        #4a5859,
        #b0b0b0,
        #5ab1bb
    );
    background-size: 100% 100%;
    background-attachment: fixed;
    animation: gradient 30s ease infinite;
    transition: 500ms;
    transform: translateY(-100%);
    top: 0;
}

.openNav {
    transform: translateY(0px);
    padding-bottom: 70px;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.slideUp {
    @media screen and (min-width: $desktop) {
        top: -50px;
        width: 30%;
        background: linear-gradient(90deg, #5ab1bb, #5ab1bb, transparent);
        border-radius: 0 0 200px 0;
    }
}
