@import "../../styles/variables";

.eventsContainer {
    // display: flex;
    // padding: 24px;
    // grid-gap: 12px;
    // justify-content: center;
    // background-color: $page-background;
    // align-items: center;
    // flex-direction: column;
    // min-height: 100vh;
    // padding-top: 134px;
}

.listItem {
    width: 60%;
    margin: auto;
}

.eventsLabel {
    color: $secondary;
}
