@import "../../styles/variables";

.eventItemContainer {
    border: 1px solid $border-colour;
    display: flex;
    flex-direction: column;
    padding: 8px;
    border-radius: 5px;
    font-size: 24px;
    background-color: $secondary;
}

.title,
.promoter,
.lineup {
    border-bottom: 1px solid gray;
    padding-bottom: 8px;
}
