.buttonContainer {
    display: flex;
    gap: 24px;
}

.scrapeButton {
    width: fit-content;
    padding: 12px;
    font-size: 24px;
    border: none;

    &:hover:enabled {
        cursor: pointer;
        background-color: azure;
    }

    &:hover:disabled {
        cursor: not-allowed;
    }
}
